CF_WEBHOOK_SECRET=REPLACE_WITH_CF_WEBHOOK_SECRET
CF_MAX_SKEW_SECONDS=300

CW_BASE_URL=https://na.myconnectwise.net/v4_6_release/apis/3.0
CW_COMPANY_ID=yourcompanyid
CW_PUBLIC_KEY=REPLACE_WITH_CW_PUBLIC_KEY
CW_PRIVATE_KEY=REPLACE_WITH_CW_PRIVATE_KEY
CW_CLIENT_ID=00000000-0000-0000-0000-000000000000
CW_DEFAULT_BOARD_ID=1
CW_DEFAULT_COMPANY_IDENTIFIER=endcustomer
CW_API_VERSION_HEADER=application/vnd.connectwise.com+json; version=2020.1
