CW_BASE_URL=https://na.myconnectwise.net/v4_6_release/apis/3.0
CW_COMPANY_ID=yourcompanyid
CW_PUBLIC_KEY=REPLACE_WITH_CW_PUBLIC_KEY
CW_PRIVATE_KEY=REPLACE_WITH_CW_PRIVATE_KEY
CW_CLIENT_ID=00000000-0000-0000-0000-000000000000
CW_CALLBACK_SECRET=REPLACE_WITH_SHARED_SECRET
CW_API_VERSION_HEADER=application/vnd.connectwise.com+json; version=2020.1

CF_API_BASE_URL=https://prod.platform.contraforce.com/api/v2
CF_SERVICE_ACCOUNT_CLIENT_ID=00000000-0000-0000-0000-000000000000
CF_SERVICE_ACCOUNT_CLIENT_SECRET=REPLACE_WITH_CF_SERVICE_ACCOUNT_SECRET
CF_WORKSPACE_ID=00000000-0000-0000-0000-000000000000
